.videocall {
    display: flex;
    justify-content: center;
  }

  .screen{
    width: 50%;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.3) 0 0 10px;
    position: relative;
  }

  .screen.localVideo::after{
    width: 200px;
    height: 20px;
    content: "Local";
    background: black;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    margin: 2px;
    position: absolute;
  }
  
  .controls{
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    background: #fff;
    margin: 5px;
  }

  .controls .control {
    width: '50px'; 
    height:'50px'; 
    border-radius: '50px';
  }

  /*
  .control{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: black;
    color: #fff;
  }
  */